.search-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.search-title {
  font-size: px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.search-input {
  padding: 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
